<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <title>Descarga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
<div class="container">
    <h1>Descarga completada</h1>
    <a href="{{ url_for('index') }}" class="back-home">{{ translations['volver_inicio'][lang] }}</a>
</div>
</body>
</html>

