<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <title>Formulario Pallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
<div class="container">
    <h1 class="main-title">{{ translations['pallet'][lang] }}</h1>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    <form method="POST">

        <label>SSCC (18 dígitos)</label>
        <input type="text" name="sscc" required>

        <label>{{ translations['gtin'][lang] }}</label>
        <input type="text" name="gtin" required>

        <label>{{ translations['lote'][lang] }}</label>
        <input type="text" name="lote" required>

        <label>{{ translations['fecha'][lang] }}</label>
        <input type="text" name="fecha" required>

        <label>{{ translations['cantidad_cajas'][lang] }}</label>
        <input type="number" name="cantidad" required>

        <label>{{ translations['peso'][lang] }}</label>
        <input type="text" name="peso">

        <label>{{ translations['descripcion'][lang] }}</label>
        <input type="text" name="descripcion">

        <button type="submit" class="card-button">
            <div class="text">{{ translations['siguiente'][lang] }}</div>
        </button>
    </form>

    <div style="margin-top:20px;">
        <a href="{{ url_for('index') }}" class="back-home">{{ translations['volver_inicio'][lang] }}</a>
    </div>

    <div class="lang-selector">
        <a href="{{ url_for('set_lang', lang='ES') }}">ES</a> |
        <a href="{{ url_for('set_lang', lang='EN') }}">EN</a> |
        <a href="{{ url_for('set_lang', lang='IT') }}">IT</a>
    </div>
</div>
</body>
</html>
