<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{ translations['tipo_unidad'][lang] }} - {{ translations['siguiente'][lang] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-title">{{ translations['tipo_unidad'][lang] }} {{ tipo | capitalize }}</h1>

        <table>
            <tr>
                {% for key in form_data[0].keys() %}
                <th>{{ translations.get(key.lower(), {}).get(lang, key) }}</th>
                {% endfor %}
            </tr>
            {% for item in form_data %}
            <tr>
                {% for val in item.values() %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div style="margin-top:20px;">
            <a href="{{ url_for('download', file_type='pdf') }}" class="action-button">{{ translations['descargar_pdf'][lang] }}</a>
            <a href="{{ url_for('download', file_type='zpl') }}" class="action-button">{{ translations['descargar_zpl'][lang] }}</a>
        </div>

        <div style="margin-top:20px;">
            <a href="{{ url_for('index') }}" class="back-home">{{ translations['volver_inicio'][lang] }}</a>
        </div>

        <div class="lang-selector">
            <a href="{{ url_for('set_lang', lang='ES') }}">ES</a> |
            <a href="{{ url_for('set_lang', lang='EN') }}">EN</a> |
            <a href="{{ url_for('set_lang', lang='IT') }}">IT</a>
        </div>
    </div>
</body>
</html>

